---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <h1 style="color:rgb(255, 255, 255); text-align:center; margin-top:100px;">
  shAdow-XJY Manager
</h1>
<p style="color:#ccc; text-align:center;">
  template page, more content coming soon...
</p>
</BaseLayout>
